.todo-list li .icon-edit {
  position: absolute;
  top: 0;
  bottom: -3px;
  font-size: 19px;
  right: 45px;
}

.todo-list li .icon-edit:after {
  content: '✎';
}

.todo-list li .edit {
  display: none;
}

.todo-list li.editing:last-child {
  margin-bottom: -1px;
}
